body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 245, 245);
    font-family: 'Geomanist', Arial, Helvetica, sans-serif;
}

.row {
    display: grid;
    margin-top: 50px;
}

.tCol1 {
    grid-column: 1 / span 3;
    grid-row: 1;
    padding: 30px;
}

.main {
    grid-column: 4 / span 5;
    grid-row: 1;
    padding: 30px;
    background-color: white;
    border: solid 1px #ccc;
    border-top: none;
}

.tCol3 {
    grid-column: 9 / span 3;
    grid-row: 1;
    padding: 30px;
}

.indexBar {
    display: flex;
    background-color: darkorange;
    border: solid 1px rgb(131, 72, 0);
    color: white;
    width: 100%;
    padding-left: 10px; 
}

.bar {
    overflow: hidden;
    position: fixed;
    top: 0;
    display: flex;
    background-color: darkorange;
    border: solid 1px rgb(131, 72, 0);
    color: white;
    width: 100%;
    padding-left: 10px; 
}

.bar a {
    text-decoration: none;
    color: white;
    display:flex;
    align-items: center;
}

.bar a:hover {
    transform: scale(1.2);
}

.center-content{
    display: flex;
    align-items: center;
}

.recipeList {
    display:inline-flex;
    list-style-type: none;
}

.recipeList li {
    border: solid 1px #ccc;
    border-radius: 8px;
    margin: 10px;   
}

.recipeItem {
    display: block;
    color: black;
    text-decoration: none;
    font-size: large;
}

.recipeDescription {
    display: block;
    max-width:250px;
    margin-right:auto;
    margin-left:auto;
}

.recipeDescription h4 {
    text-align:center;
    margin: 10px;
}

.recipeDescription hr {
    padding: 0;
    margin: 0;
    color: #ccc;
}

.recipeDescriptionHeader {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 950px) {
    .autoSize {
      display: none;
    }
  }

  img {
    max-width: 100%;
    height: auto;
  }

.recipeItem img {
    border: solid 1px #ccc;
    border-radius: 8px 8px 0 0;
}

.recipeItem:hover {
    transform: scale(1.1);
}

.recipeHeader{

}

.recipeHeader h3{
    text-align:center;
}

.recipeHeader img {
    border: solid 1px #ccc;
    border-radius:8px;
    float:left;
    margin: 15px;
}

.ogBox {
    background-color: darkorange;
    color: white;
    border: solid 1px rgb(131, 72, 0);
    border-radius:10px;
    margin: 15px;
    float:left;
}

.stepList li{
    background-color: rgb(240, 240, 240);
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius:10px;
}